<div class="jumbotron">
    <h1>Food Giant Login</h1>
    <p class="lead">Hey John, click the button below to launch the prototype application</p>
    
    <button type="button" onclick="ope"></button>
</div>
<div class="row">
    <div class="col-md-4">
       
    </div>
</div>
